
.claro-tv{
    display: flex;
    flex-direction: column;

    background-color: var(--blacktotal);

}
.titulo-claro-tv{
    display: flex;

}
.titulo-claro-tv h2{
    font-size: 30px;
    color: var(--white);
    padding-left: 60px;
    padding-bottom: 20px;
}
.img-claro{
    display: flex;
    column-gap: 20px;
    padding-left: 60px;
    padding-bottom: 40px;
}
.img-claro img{
    border-radius: 8px;

}
/*  */
.container-claro{
    display: flex;
    column-gap: 20px;

    margin-left: 60px;
    padding-bottom: 40px;
}
.itens-claro{
    display: flex;
    flex-direction: column;
   
}
.tv{
    display: flex;
    flex-direction: column;
    height: 220px;
    width: 265px;
    background-color: var(--blacktotal);
    border: 1px solid var(--white);
    padding: 10px;
    
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: all .2s;
    cursor: pointer;

    border-bottom: none;
}
.tv:hover{
    background-color: red;
}
.tv span{
    display: flex;
    font-size: 16px;
    color: var(--white);
    font-weight: 700;
    padding-bottom: 20px;
}
.tv p{
    font-size: 16px;
    color: var(--white);
    padding-bottom: 20px;

}
.tv h4{
    color: var(--white);
    padding-bottom: 10px;
}
.tv img{
    display: flex;
    
    height: 50px;
    width: 50px;

}
/* PRICE valor */
.price{
    display: flex;
    flex-direction: column;
    height: 220px;
    width: 265px;

    background-color: var(--blacktotal);
    border: 1px solid var(--white);
    padding-top: 20px;
    padding-left: 10px;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}
.price span{
    font-size: 16px;
    color: var(--white);
    font-weight: 700;
}
.price h4{
    font-size: 20px;
    color: var(--white);
    font-weight: 900;

}
.price p{
    color: var(--white);
    padding-bottom: 20px;

}
.price button{
    height: 40px;
    width: 120px;
    border-radius: 20px;
    border: none;

    font-size: 16px;
    color: var(--blacktotal);
    font-weight: 700;
    border: 1px solid #ffc772;

    background-color: #ffc772;
    cursor: pointer;
    transition: all .2s;
}
.price button:hover{
    background-color: #b84d01;
}
/* DETALHES INFO */
.info-detalhes{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 265px;
    background-color: var(--blacktotal);
    border: 1px solid var(--white);
    padding: 10px;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.info-detalhes span{
    font-size: 20px;
    color: var(--white);
    font-weight: 700;
}
.info-detalhes i{
    font-size: 20px;
    color: var(--white);
    font-weight: 700;
}