

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500;1,700;1,900&display=swap');

@import url(/css/header.css);
@import url(/css/imagens.css);
@import url(/css/ofertas.css);
@import url(/css/planos.css);
@import url(/css/smartphones.css);
@import url(/css/banda-larga.css);
@import url(/css/claro-tv.css);
@import url(/css/vantagens.css);
@import url(/css/beneficio.css);
@import url(/css/compre.css);
@import url(/css/streaming.css);
@import url(/css/produtos.css);
@import url(/css/acessorios.css);
@import url(/css/duvidas.css);
@import url(/css/opçoes.css);
@import url(/css/footer.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white: #fff;
    --black: #1f1d1d;
    --blacktotal: #000;
    --btn-primary: #ffc722;
    --btn-secunadry-hover: #b84d01;
    --btn-red: #b41e13;
    --btn-yellow: #ffc772;
    --btns-red-claro: #da291c;

    --pink: #ff5c63;
    --red-black: #c12911;

    --btn-hover: #fb9c2d;

    --color-red: #da291c;
}


body{
    font-family: 'Roboto', sans-serif;
}
