
header{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: var(--white);
    /* background-color: red; */
    height: 80px;
}
.navegation{
    display: flex;
    column-gap: 10px;
    
}

.navegation a{
    text-decoration: none;
    color:  var(--black);
    padding-bottom: 10px;
    
}
.familia{
    padding-bottom: 10px;
    border-bottom: 5px solid  var(--btn-hover );
}
.navegation a:hover{
    padding-bottom: 10px;
    border-bottom: 5px solid  var(--btn-hover );
}
.navegation span:hover{
    text-decoration: underline;
    cursor: pointer;


}
.buscar{
    height: 20px;
    padding: 15px;
    display: flex;
    border: 1px solid black;
    align-items: center;
    border-radius: 50px;
}
.buscar input{
    outline: none;
    border: none;
    height: 20px;
    width: 50px;
    

}
/*     HEADER 2 */
.header2{
    height: 60px;
    width: 100%;
    background-color: red;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    padding-left: 60px;
}
.links{
    display: flex;
    position: inherit;
   
    column-gap: 20px;
}
.links button{
    display: flex;
    border: none;
    outline: none;
    background-color: red;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
}
.links a{
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
}

.btns{
    display: flex;
    margin-right: 100px;
    column-gap: 10px;
    
}
.btns button{
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    font-size: 12px;
    cursor: pointer;
}
.btn-contrate{
    background-color: var(--btn-primary);
    border: 1px solid var(--btn-primary);
    color: var(--black);
}
.btn-contrate:hover{
    border: 1px solid var(--btn-secunadry-hover);
    background-color: orange;
}
.btn-claro{
    background-color: var(--white);
    border: 1px solid var(--white);
    color: var(--btns-red-claro);
}
.btn-claro:hover{
    background-color: var(--color-red);
    border: 1px solid var(--color-red);
    color: var(--white);
}